Repository kreghek/Zilon_Roguelike, pull requests merged in 2019-02, with the labels that each got.

#275 #218 Удаление зависимости монстров от источника рандома
  Zilon.Core/Zilon.Core.Spec/Contexts/FeatureContextBase.cs
  Zilon.Core/Zilon.Core.Tests/Persons/MonsterPersonTests.cs
  Zilon.Core/Zilon.Core.Tests/Persons/SurvivalDataTests.cs
  Zilon.Core/Zilon.Core/MapGenerators/MonsterGenerator.cs
  Zilon.Core/Zilon.Core/Persons/HumanPerson.cs
  Zilon.Core/Zilon.Core/Persons/HumanSurvivalData.cs
  Zilon.Core/Zilon.Core/Persons/MonsterPerson.cs
  Zilon.Core/Zilon.Core/Persons/MonsterSurvivalData.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core

#278 #248 Скролл правой части модала контейнера
  Zilon.Client/Assets/Zilon/Prefabs/Modals/ContainerModalBody.prefab
Labels: bug, unity-client

#280 Feature 185 linked drop
  Zilon.Client/Assets/Resources/Schemes/DropTables/champion-loot.json
  Zilon.Client/Assets/Resources/Schemes/DropTables/default.json
  Zilon.Client/Assets/Resources/Schemes/DropTables/default_all.json
  Zilon.Client/Assets/Resources/Schemes/DropTables/default_all.json.meta
  Zilon.Core/Zilon.Core.Spec/Steps/ChestSteps.cs
  Zilon.Core/Zilon.Core.Tests.Common/Schemes/TestDropTableRecordSubScheme.cs
  Zilon.Core/Zilon.Core.Tests.Common/Schemes/TestDropTableScheme.cs
  Zilon.Core/Zilon.Core.Tests.Common/Zilon.Core.Tests.Common.csproj
  Zilon.Core/Zilon.Core.Tests/Tactics/DropResolverTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/DropTableChestStoreTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/DropTablePropChestTests.cs
  Zilon.Core/Zilon.Core/Persons/DropTableModRecord.cs
  Zilon.Core/Zilon.Core/Schemes/DropTableRecordSubScheme.cs
  Zilon.Core/Zilon.Core/Schemes/DropTableScheme.cs
  Zilon.Core/Zilon.Core/Schemes/IDropTableRecordSubScheme.cs
  Zilon.Core/Zilon.Core/Schemes/IDropTableScheme.cs
  Zilon.Core/Zilon.Core/Tactics/DropResolver.cs
  Zilon.Core/Zilon.Core/Tactics/DropTableChestStore.cs
  Zilon.Core/Zilon.Core/Tactics/IDropResolver.cs
Labels: core, enhancement

#281 #188 Золотой не подлезает под броню
  Zilon.Client/Assets/Resources/VisualProps/gold-helmet.prefab
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
Labels: bug, unity-client

#282 #186 Добавлен дроп патронов для всего стрелкового оружия
  Zilon.Client/Assets/Resources/Schemes/DropTables/champion-loot.json
  Zilon.Client/Assets/Resources/Schemes/DropTables/default.json
Labels: balance, core, enhancement

#284 Feature 11 chest scheme
  Zilon.Client/Assets/Resources/Schemes/Locations/crypt.json
  Zilon.Client/Assets/Resources/Schemes/Locations/demon-dungeon.json
  Zilon.Client/Assets/Resources/Schemes/Locations/demon-lair.json
  Zilon.Client/Assets/Resources/Schemes/Locations/elder-place.json
  Zilon.Client/Assets/Resources/Schemes/Locations/genomass-cave.json
  Zilon.Client/Assets/Resources/Schemes/Locations/intro.json
  Zilon.Client/Assets/Resources/Schemes/Locations/rat-hole.json
  Zilon.Client/Assets/Resources/Schemes/Locations/rat-kingdom.json
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorBench.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorMaxBench.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorMinBench.cs
  Zilon.Core/Zilon.Core.Benchmark/MoveBench.cs
  Zilon.Core/Zilon.Core.Spec/Mocks/FuncMapFactory.cs
  Zilon.Core/Zilon.Core.Tests.Common/Schemes/TestSectorSubScheme.cs
  Zilon.Core/Zilon.Core.Tests/MapGenerators/RoomStyle/RoomGeneratorTests.cs
  Zilon.Core/Zilon.Core.Tests/MapGenerators/RoomStyle/TestSnakeRoomGenerator.cs
  Zilon.Core/Zilon.Core.Tests/Services/MapGenerators/SquareMapFactoryTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/Bots/MonsterActorTaskSourceTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/SectorTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/TransitionDetectionTests.cs
  Zilon.Core/Zilon.Core.Tests/Zilon.Core.Tests.csproj
  Zilon.Core/Zilon.Core.Timeout.Tests/Commands/MoveCommandTests.cs
  Zilon.Core/Zilon.Core/MapGenerators/ChestGenerator.cs
  Zilon.Core/Zilon.Core/MapGenerators/IChestGenerator.cs
  Zilon.Core/Zilon.Core/MapGenerators/IMapFactory.cs
  Zilon.Core/Zilon.Core/MapGenerators/ISectorFactory.cs
  Zilon.Core/Zilon.Core/MapGenerators/MapRegionHelper.cs
  Zilon.Core/Zilon.Core/MapGenerators/PrimitiveStyle/SquareMapFactory.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/FixCompactRoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/FixLargeRoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/IRoomGenerator.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/IRoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/Room.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomGenerator.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomMapFactory.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomTransition.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/TownMapFactory.cs
  Zilon.Core/Zilon.Core/MapGenerators/SectorFactory.cs
  Zilon.Core/Zilon.Core/MapGenerators/SectorGenerator.cs
  Zilon.Core/Zilon.Core/Schemes/ISectorSubScheme.cs
  Zilon.Core/Zilon.Core/Schemes/SectorSubScheme.cs
  Zilon.Core/Zilon.Core/Tactics/ISector.cs
  Zilon.Core/Zilon.Core/Tactics/Sector.cs
  Zilon.Core/Zilon.Core/Tactics/SectorExitEventArgs.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/HexMap.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/ISectorMap.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/SectorGraphMap.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/SectorHexMap.cs
  Zilon.Core/Zilon.Core/Tactics/TransitionDetection.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: core, enhancement, unity-client

#286 Feature 40 quit request
  Zilon.Client/Assets/Zilon/Prefabs/Modals/QuitModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/QuitModalBody.prefab.meta
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scripts/Commands.meta
  Zilon.Client/Assets/Zilon/Scripts/Commands/QuitCommand.cs
  Zilon.Client/Assets/Zilon/Scripts/Commands/QuitCommand.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Commands/QuitRequestCommand.cs
  Zilon.Client/Assets/Zilon/Scripts/Commands/QuitRequestCommand.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/GlobalInstaller.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/QuitModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/QuitModalBody.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/UiHandler.cs
  Zilon.Client/Assets/Zilon/Scripts/SectorInstaller.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/SectorModalManager.cs
  Zilon.Core/Zilon.Core/Client/ISectorModalManager.cs
Labels: enhancement, unity-client

#287 Feature 42 game scores
  Zilon.Client/Assets/Resources/Schemes/Monsters/archidemon.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/bat.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/dark-guardian.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/dark-seer.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/demon-bat.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/demon-lord.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/demon-roamer.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/demon-spearman.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/demon-warlock.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/demon.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/dervish.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/elder-slave.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/eternal-executor.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/gemonass-slave.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/genomass.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/ghoul.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/grave-worm.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/hell-bat.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/hell-herald.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/hell-rock.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/infernal-bard.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/infernal-genomass.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/moon-rat.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/night-stalker.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/rat-human-slayer.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/rat-king.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/rat-mutant.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/rat.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/inner-flame.json
  Zilon.Client/Assets/Zilon/Prefabs/Modals/ScoreModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/ScoreModalBody.prefab.meta
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scripts/GlobalInstaller.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/GlobeScene/GlobeWorldVM.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ScoreModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ScoreModalBody.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/SectorModalManager.cs
  Zilon.Core/Zilon.Core.Spec/Contexts/FeatureContextBase.cs
  Zilon.Core/Zilon.Core.Tests.Common/Schemes/TestMonsterScheme.cs
  Zilon.Core/Zilon.Core.sln
  Zilon.Core/Zilon.Core/Client/ISectorModalManager.cs
  Zilon.Core/Zilon.Core/Schemes/IMonsterScheme.cs
  Zilon.Core/Zilon.Core/Schemes/MonsterScheme.cs
  Zilon.Core/Zilon.Core/Tactics/IScoreManager.cs
  Zilon.Core/Zilon.Core/Tactics/ISector.cs
  Zilon.Core/Zilon.Core/Tactics/ScoreManager.cs
  Zilon.Core/Zilon.Core/Tactics/Sector.cs
  Zilon.Core/Zilon.Core/Tactics/SectorManager.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
  Zilon.Core/Zilon.SchemeEditor/App.config
  Zilon.Core/Zilon.SchemeEditor/EditorSchemeService.cs
  Zilon.Core/Zilon.SchemeEditor/EditorSchemeServiceHandler.cs
  Zilon.Core/Zilon.SchemeEditor/EditorSchemeServiceHandlerFactory.cs
  Zilon.Core/Zilon.SchemeEditor/Program.cs
  Zilon.Core/Zilon.SchemeEditor/Properties/AssemblyInfo.cs
  Zilon.Core/Zilon.SchemeEditor/Zilon.SchemeEditor.csproj
  Zilon.Core/Zilon.SchemeEditor/packages.config
Labels: core, enhancement, unity-client

#288 #42 Доделаны схемы монстров
  Zilon.Client/Assets/Resources/Schemes/Monsters/manticore.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/necromancer.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/pit-baron.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/skeleton-champion.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/skeleton-grunt.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/skeleton-warrior.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/tests.meta
  Zilon.Client/Assets/Resources/Schemes/Monsters/vampire.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/zombie.json
Labels: core, enhancement

#291 Feature 42 game scores
  Zilon.Client/Assets/Resources/Schemes/Monsters/tests.meta
  Zilon.Client/Assets/Zilon/Prefabs/Modals/ScoreModalBody.prefab
  Zilon.Client/Assets/Zilon/Scenes/title.unity
  Zilon.Client/Assets/Zilon/Scripts/Common.meta
  Zilon.Client/Assets/Zilon/Scripts/Common/GameOverEffect.cs
  Zilon.Client/Assets/Zilon/Scripts/Common/GameOverEffect.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ScoreModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/TitleScene/TitleHandler.cs
  Zilon.Core/Zilon.Core/Tactics/IScoreManager.cs
  Zilon.Core/Zilon.Core/Tactics/ScoreManager.cs
Labels: bug, core, enhancement, unity-client

#293 #290 Исправлено перемещение в релизе
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorViewModel.cs
Labels: bug, unity-client

#294 Work 215 show inventory modal
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventoryModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/SectorModalManager.cs
Labels: code improvement, unity-client

#298 Feature 295 prop info
  Zilon.Client/Assets/Zilon/Prefabs/Modals/ContainerModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/EquipmentSlot.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InventoryModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/PropInfoPopup.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/PropInfoPopup.prefab.meta
  Zilon.Client/Assets/Zilon/Prefabs/Modals/PropItem.prefab
  Zilon.Client/Assets/Zilon/Scripts/Common/PropInfoPopup.cs
  Zilon.Client/Assets/Zilon/Scripts/Common/PropInfoPopup.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/IPropViewModelDescription.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/IPropViewModelDescription.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ContainerModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventoryModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventorySlotVm.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PropItemVm.cs
Labels: enhancement, unity-client

#299 Feature 43 move path
  Zilon.Client/Assets/Zilon/Prefabs/Sector/MovePathVisualizer.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Sector/MovePathVisualizer.prefab.meta
  Zilon.Client/Assets/Zilon/Prefabs/Sector/MovePathVisualizerItem.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Sector/MovePathVisualizerItem.prefab.meta
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scripts/Common/PropInfoPopup.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MapNodeVM.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MovePathVisualizer.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MovePathVisualizer.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Core/Zilon.Core/Client/IPlayerState.cs
  Zilon.Core/Zilon.Core/Client/PlayerState.cs
  Zilon.Core/Zilon.Core/Commands/MoveCommand.cs
Labels: core, enhancement, unity-client

#300 Feature 44 move cursor
  Zilon.Client/Assets/Zilon/Prefabs/Common.meta
  Zilon.Client/Assets/Zilon/Prefabs/Common/GlobeGameCursor.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Common/GlobeGameCursor.prefab.meta
  Zilon.Client/Assets/Zilon/Prefabs/Common/SectorGameCursor.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Common/SectorGameCursor.prefab.meta
  Zilon.Client/Assets/Zilon/Prefabs/Sector/Chest.prefab
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scenes/globe.unity
  Zilon.Client/Assets/Zilon/Scenes/title.unity
  Zilon.Client/Assets/Zilon/Scripts/Common/GlobeGameCursor.cs
  Zilon.Client/Assets/Zilon/Scripts/Common/GlobeGameCursor.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Common/SectorGameCursor.cs
  Zilon.Client/Assets/Zilon/Scripts/Common/SectorGameCursor.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorViewModel.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ContainerVm.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MapNodeVM.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Client/Assets/Zilon/Sprites/attack-cursor.png
  Zilon.Client/Assets/Zilon/Sprites/attack-cursor.png.meta
  Zilon.Client/Assets/Zilon/Sprites/cant-walk-cursor.psd
  Zilon.Client/Assets/Zilon/Sprites/cant-walk-cursor.psd.meta
  Zilon.Client/Assets/Zilon/Sprites/walk-cursor.png
  Zilon.Client/Assets/Zilon/Sprites/walk-cursor.png.meta
  Zilon.Client/ProjectSettings/ProjectSettings.asset
  Zilon.Client/ProjectSettings/ProjectVersion.txt
  Zilon.Client/ProjectSettings/TagManager.asset
  Zilon.Core/Zilon.Core.Spec/Contexts/CommonGameActionsContext.cs
  Zilon.Core/Zilon.Core.Spec/Steps/CommonSteps.cs
  Zilon.Core/Zilon.Core.Spec/Steps/FightSteps.cs
  Zilon.Core/Zilon.Core.Tests/Commands/AttackCommandTests.cs
  Zilon.Core/Zilon.Core.Tests/Commands/MoveCommandTests.cs
  Zilon.Core/Zilon.Core.Timeout.Tests/Commands/MoveCommandTests.cs
  Zilon.Core/Zilon.Core/Client/IPlayerState.cs
  Zilon.Core/Zilon.Core/Client/PlayerState.cs
  Zilon.Core/Zilon.Core/Commands/AttackCommand.cs
  Zilon.Core/Zilon.Core/Commands/MoveCommand.cs
Labels: core, enhancement, unity-client
