Repository kreghek/Zilon_Roguelike, pull requests merged in 2019-03, with the labels that each got.

#302 Feature 200 hp bonus
  Zilon.Client/Assets/Resources/Icons/props/highlander-helmet.png
  Zilon.Client/Assets/Resources/Icons/props/highlander-helmet.png.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/highlander-helmet.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/highlander-helmet.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/steel-helmet.json
  Zilon.Client/Assets/Resources/VisualProps/highlander-helmet.prefab
  Zilon.Client/Assets/Resources/VisualProps/highlander-helmet.prefab.meta
  Zilon.Client/Assets/Zilon/Prefabs/Sector/HpBar.prefab
  Zilon.Client/Assets/Zilon/Scripts/Common/PropInfoPopup.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/HpBar.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Core/Zilon.Core.Spec/Steps/EquipmentSteps.cs
  Zilon.Core/Zilon.Core.Spec/TestCases/Equipment.feature
  Zilon.Core/Zilon.Core.Tests.Common/Schemes/TestPropEquipSubScheme.cs
  Zilon.Core/Zilon.Core.Tests/MapGenerators/ChestGeneratorRandomSourceTests.cs
  Zilon.Core/Zilon.Core.Tests/MapGenerators/RoomStyle/RoomGeneratorTests.cs
  Zilon.Core/Zilon.Core.Tests/Persons/HumanPersonTests.cs
  Zilon.Core/Zilon.Core.Tests/Persons/SurvivalStatTests.cs
  Zilon.Core/Zilon.Core.Tests/Persons/TestCases/SurvivalStatTestCasesSource.cs
  Zilon.Core/Zilon.Core.Tests/WorldGeneration/WorldGeneratorTests.cs
  Zilon.Core/Zilon.Core.Tests/Zilon.Core.Tests.csproj
  Zilon.Core/Zilon.Core/Persons/HumanPerson.cs
  Zilon.Core/Zilon.Core/Persons/HumanSurvivalData.cs
  Zilon.Core/Zilon.Core/Persons/ISurvivalData.cs
  Zilon.Core/Zilon.Core/Persons/MonsterSurvivalData.cs
  Zilon.Core/Zilon.Core/Persons/SurvivalStat.cs
  Zilon.Core/Zilon.Core/Schemes/EquipCommonRuleType.cs
  Zilon.Core/Zilon.Core/Schemes/IPropEquipSubScheme.cs
  Zilon.Core/Zilon.Core/Schemes/PersonRule.cs
  Zilon.Core/Zilon.Core/Schemes/PropEquipSubScheme.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: core, enhancement, unity-client

#303 Feature 47 monster hp
  Zilon.Client/Assets/Zilon/Prefabs/Sector/Actor.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Sector/ActorHpBar.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Sector/ActorHpBar.prefab.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorHpBar.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorHpBar.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorViewModel.cs
Labels: enhancement, unity-client

#304 #50 Панель с информацией о монстре
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorHpBar.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MonsterInfoPanel.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MonsterInfoPanel.cs.meta
Labels: enhancement, unity-client

#306 #85 Исправление атаки трупа
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorGraphicBase.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorViewModel.cs
Labels: bug, unity-client

#307 Feature 128 turn actor
  Zilon.Client/Assets/Resources/VisualProps/Monsters/bat.prefab
  Zilon.Client/Assets/Resources/VisualProps/Monsters/demon-bat.prefab
  Zilon.Client/Assets/Resources/VisualProps/Monsters/night-stalker.prefab
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorGraphicBase.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorViewModel.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Client/Assets/Zilon/Sprites/bat.gif
  Zilon.Client/Assets/Zilon/Sprites/bat.png
  Zilon.Client/Assets/Zilon/Sprites/bat.png.meta
  Zilon.Client/Assets/Zilon/Sprites/genomass.png
  Zilon.Client/Assets/Zilon/Sprites/moon-rat.png
  Zilon.Client/Assets/Zilon/Sprites/title-2.jpg.meta
Labels: enhancement, unity-client

#308 #274 Заготовка для еды с отрицательными эффектами
  Zilon.Client/Assets/Resources/Schemes/Props/Consumables/med-kit.json
  Zilon.Core/Zilon.Core.Spec/Steps/SurvivalSteps.cs
  Zilon.Core/Zilon.Core.Spec/TestCases/Survival.feature
  Zilon.Core/Zilon.Core.Tests/Commands/EquipCommandTests.cs
  Zilon.Core/Zilon.Core/Schemes/ConsumeCommonRule.cs
  Zilon.Core/Zilon.Core/Tactics/Actor.cs
Labels: core, enhancement

#310 #132 Износ экипировки
  Zilon.Client/Assets/Zilon/Prefabs/Modals/PropInfoPopup.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/PropItem.prefab
  Zilon.Client/Assets/Zilon/Scripts/Common/PropInfoPopup.cs
  Zilon.Client/Assets/Zilon/Scripts/GlobalInstaller.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PropItemVm.cs
  Zilon.Client/Assets/Zilon/Scripts/SectorInstaller.cs
  Zilon.Core/Zilon.Core.Spec/Mocks/TestEmptySectorGenerator.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/SectorTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/TacticalActUsageServiceTests.cs
  Zilon.Core/Zilon.Core/Commands/EquipCommand.cs
  Zilon.Core/Zilon.Core/Common/Stat.cs
  Zilon.Core/Zilon.Core/MapGenerators/SectorFactory.cs
  Zilon.Core/Zilon.Core/Persons/PersonEquipmentHelper.cs
  Zilon.Core/Zilon.Core/Persons/SurvivalStat.cs
  Zilon.Core/Zilon.Core/Props/Equipment.cs
  Zilon.Core/Zilon.Core/Props/EquipmentDurableService.cs
  Zilon.Core/Zilon.Core/Props/EquipmentDurableServiceRandomSource.cs
  Zilon.Core/Zilon.Core/Props/IEquipmentDurableService.cs
  Zilon.Core/Zilon.Core/Props/IEquipmentDurableServiceRandomSource.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/EquipTask.cs
  Zilon.Core/Zilon.Core/Tactics/ITacticalActUsageRandomSource.cs
  Zilon.Core/Zilon.Core/Tactics/Sector.cs
  Zilon.Core/Zilon.Core/Tactics/TacticalActUsageRandomSource.cs
  Zilon.Core/Zilon.Core/Tactics/TacticalActUsageService.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: core, enhancement, unity-client

#315 #209 Обобщение EquipmentCarrier
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Core/Zilon.Core/Persons/EquipmentCarrier.cs
  Zilon.Core/Zilon.Core/Persons/EquipmentCarrierBase.cs
  Zilon.Core/Zilon.Core/Persons/IEquipmentCarrier.cs
Labels: code improvement, core

#316 Refactor 216 useself equip
  Zilon.Core/Zilon.Core.Spec/Steps/SurvivalSteps.cs
  Zilon.Core/Zilon.Core.Spec/TestCases/Survival.feature
  Zilon.Core/Zilon.Core/Persons/HumanSurvivalData.cs
  Zilon.Core/Zilon.Core/Persons/ISurvivalDataExtensions.cs
  Zilon.Core/Zilon.Core/Persons/SurvivalStatKeyPoint.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core

#317 #230 Конструктор HumanSurvivalData с указанием характеристик
  Zilon.Core/Zilon.Core.Tests/Persons/SurvivalDataTests.cs
  Zilon.Core/Zilon.Core/Persons/HumanSurvivalData.cs
Labels: code improvement, core

#318 Refactor 231 intent tests
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/HumanActorTaskSourceTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/MoveIntentionTests.cs
  Zilon.Core/Zilon.Core.Tests/Zilon.Core.Tests.csproj
  Zilon.Core/Zilon.Core/Tactics/Behaviour/IIntention.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/MoveIntention.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/MoveTask.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/IMap.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/MapBase.cs
Labels: code improvement, core

#319 Feature 173 obstacles
  Zilon.Client/Assets/Zilon/Prefabs/Sector/Hex.prefab
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MapNodeVM.cs
  Zilon.Client/Assets/Zilon/Sprites/RoomInteriorObjects.png
  Zilon.Client/Assets/Zilon/Sprites/RoomInteriorObjects.png.meta
  Zilon.Client/Assets/Zilon/Sprites/RoomInteriorObjects2.png
  Zilon.Client/Assets/Zilon/Sprites/RoomInteriorObjects2.png.meta
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorBench.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Spatial/PathFinding/AStarTests.cs
  Zilon.Core/Zilon.Core/MapGenerators/ChestGenerator.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/FixCompactRoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/FixLargeRoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/IRoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomGenerator.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomInteriorObjectMeta.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomMapFactory.cs
  Zilon.Core/Zilon.Core/OffsetCoordsExtensions.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/HexMap.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/HexNode.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/MapBase.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/PathFinding/AStar.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core, enhancement, unity-client

#320 Refactor 226 check node availability
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/Bots/PatrolLogicTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/Bots/RoamingLogicTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/OpenContainerTaskTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Spatial/SectorHexMapTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/TacticalActUsageServiceTests.cs
  Zilon.Core/Zilon.Core.Tests/Zilon.Core.Tests.csproj
  Zilon.Core/Zilon.Core/Commands/AttackCommand.cs
  Zilon.Core/Zilon.Core/Commands/MoveCommand.cs
  Zilon.Core/Zilon.Core/Commands/OpenContainerCommand.cs
  Zilon.Core/Zilon.Core/MapGenerators/MapFiller.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/Bots/AgressiveLogicBase.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/Bots/PatrolLogic.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/Bots/RoamingLogic.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/OpenContainerTask.cs
  Zilon.Core/Zilon.Core/Tactics/MapHelper.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/GraphMap.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/ISectorMap.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/MapBase.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/SectorGraphMap.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/SectorHexMap.cs
  Zilon.Core/Zilon.Core/Tactics/TacticalActUsageService.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core
