Repository kreghek/Zilon_Roguelike, pull requests merged in 2019-01, with the labels that each got.

#149 #147 Добавлена кнопка выхода из игры
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/UiHandler.cs
  Zilon.Client/Assets/Zilon/Sprites/exit-icon-152-168299.png
  Zilon.Client/Assets/Zilon/Sprites/exit-icon-152-168299.png.meta
  Zilon.Client/ProjectSettings/ProjectSettings.asset
  Zilon.Client/ProjectSettings/UnityConnectSettings.asset
Labels: unity-client

#150 #106 Эффекты отображаются иконками
  Zilon.Client/Assets/Zilon/Prefabs/Sector/EffectViewModel.prefab
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/EffectViewModel.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/PersonEffectHandler.cs
Labels: enhancement, unity-client

#151 #104 Модал на клиенте со стартовой инструкции.
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InstructionModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InstructionModalBody.prefab.meta
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InstructionPageContent.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InstructionPageContent.prefab.meta
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InstructionModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InstructionModalBody.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/SectorModalManager.cs
  Zilon.Client/Assets/Zilon/Sprites/Instruction.meta
  Zilon.Client/Assets/Zilon/Sprites/Instruction/consume-items.JPG
  Zilon.Client/Assets/Zilon/Sprites/Instruction/consume-items.JPG.meta
  Zilon.Client/Assets/Zilon/Sprites/Instruction/equip.JPG
  Zilon.Client/Assets/Zilon/Sprites/Instruction/equip.JPG.meta
  Zilon.Client/Assets/Zilon/Sprites/Instruction/move-interaction.JPG
  Zilon.Client/Assets/Zilon/Sprites/Instruction/move-interaction.JPG.meta
  Zilon.Core/Zilon.Core/Client/ISectorModalManager.cs
Labels: enhancement, unity-client

#153 Feature 152 move bench
  Zilon.Core/Zilon.Core.Benchmark/TheEasiestBenchmark.cs
  Zilon.Core/Zilon.Core.Benchmark/UnitTest1.cs
  Zilon.Core/Zilon.Core.Benchmark/Zilon.Core.Benchmark.csproj
  Zilon.Core/Zilon.Core.Benchmark/app.config
  Zilon.Core/Zilon.Core.Benchmark/packages.config
  Zilon.Core/Zilon.Core.sln
  Zilon.Core/Zilon.TestBenchmark/App.config
  Zilon.Core/Zilon.TestBenchmark/Program.cs
  Zilon.Core/Zilon.TestBenchmark/Properties/AssemblyInfo.cs
  Zilon.Core/Zilon.TestBenchmark/Zilon.TestBenchmark.csproj
  Zilon.Core/Zilon.TestBenchmark/packages.config
Labels: code improvement, core

#162 #158 sonar
  Zilon.Core/Zilon.Core.Benchmark/UnitTest1.cs
  Zilon.Core/Zilon.Core.Tests.Common/Schemes/TestTacticalActStatsSubScheme.cs
  Zilon.Core/Zilon.Core/Components/TacticalActTargets.cs
  Zilon.Core/Zilon.Core/MapGenerators/IChestGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/MonsterGenerator.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/Persons/HumanPerson.cs
  Zilon.Core/Zilon.Core/Persons/IEquipmentCarrier.cs
  Zilon.Core/Zilon.Core/Persons/SurvivalData.cs
  Zilon.Core/Zilon.Core/Schemes/ITacticalActStatsSubScheme.cs
  Zilon.Core/Zilon.Core/Schemes/TacticalActStatsSubScheme.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/TaskException.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/HexMap.cs
  Zilon.Core/Zilon.Core/Tactics/TacticalActUsageService.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core

#178 #164 ui
  Zilon.Client/Assets/Zilon/Prefabs/Modals/ContainerModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InstructionModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InventoryModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/ModalDialog.prefab
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scenes/title.unity
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ContainerModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/IModalWindowHandler.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InstructionModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventoryModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ModalDialog.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PerksModalBody.cs
  Zilon.Client/Assets/Zilon/Sprites/Inventory.png
  Zilon.Client/Assets/Zilon/Sprites/Inventory.png.meta
  Zilon.Client/Assets/Zilon/Sprites/Play Icon.png
  Zilon.Client/Assets/Zilon/Sprites/Play Icon.png.meta
  Zilon.Client/Assets/Zilon/Sprites/Shadow Background.png
  Zilon.Client/Assets/Zilon/Sprites/Shadow Background.png.meta
  Zilon.Client/Assets/Zilon/Sprites/clock.png
  Zilon.Client/Assets/Zilon/Sprites/clock.png.meta
  Zilon.Client/Assets/Zilon/Sprites/exit-icon-152-168299.png
  Zilon.Client/Assets/Zilon/Sprites/title-2.jpg
  Zilon.Client/Assets/Zilon/Sprites/title-2.jpg.meta
  Zilon.Client/Assets/Zilon/Sprites/title-2.png
  Zilon.Client/Assets/Zilon/Sprites/title-2.png.meta
  Zilon.Client/Assets/Zilon/Sprites/ui-border.png
  Zilon.Client/Assets/Zilon/Sprites/ui-border.png.meta
  Zilon.Client/Assets/Zilon/Sprites/ui.png
  Zilon.Client/Assets/Zilon/Sprites/ui.png.meta
Labels: enhancement, unity-client

#179 #165 repo url
  Zilon.Client/Assets/Zilon/Scenes/title.unity
  Zilon.Client/Assets/Zilon/Scripts/Models/TitleScene/TitleHandler.cs
Labels: enhancement, unity-client

#182 Feature #177 redure sector clusters
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
Labels: balance, unity-client

#189 #170 Исправление дропа стальной брони
  Zilon.Client/Assets/Resources/Schemes/DropTables/default.json
  Zilon.Client/Assets/Resources/Schemes/DropTables/survival.json
Labels: bug, core

#192 #176 Для еды/воды добавлено правило малого лечения
  Zilon.Client/Assets/Resources/Schemes/Props/Consumables/bottle.json
  Zilon.Client/Assets/Resources/Schemes/Props/Consumables/kalin-cheese.json
  Zilon.Client/Assets/Resources/Schemes/Props/Consumables/med-kit.json
  Zilon.Client/Assets/Resources/Schemes/Props/Consumables/packed-food.json
  Zilon.Client/Assets/Resources/Schemes/Props/Consumables/tomaton.json
  Zilon.Core/Zilon.Core/Common/PropMetrics.cs
  Zilon.Core/Zilon.Core/Tactics/Actor.cs
Labels: balance, enhancement

#193 Feature #172 bg music
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scenes/title.unity
  Zilon.Client/Assets/Zilon/Sounds.meta
  Zilon.Client/Assets/Zilon/Sounds/b423b42.wav
  Zilon.Client/Assets/Zilon/Sounds/b423b42.wav.meta
  Zilon.Client/Assets/Zilon/Sounds/island of fate - last imperial vagabond.mp3
  Zilon.Client/Assets/Zilon/Sounds/island of fate - last imperial vagabond.mp3.meta
Labels: enhancement, unity-client

#194 Feature 184 improve use button
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InventoryModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/PropItem.prefab
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventoryModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
Labels: bug, enhancement, unity-client

#195 Feature #181 start equips
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
Labels: enhancement, unity-client

#198 #181 Исправление стартовой экипировки
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
Labels: bug, unity-client

#197 Feature 174 improve slots
  Zilon.Client/Assets/Zilon/Prefabs/Modals/EquipmentSlot.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InventoryModalBody.prefab
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventoryModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventorySlotVm.cs
  Zilon.Client/Assets/Zilon/Sprites/Modals.meta
  Zilon.Client/Assets/Zilon/Sprites/Modals/Slot Aux.png
  Zilon.Client/Assets/Zilon/Sprites/Modals/Slot Aux.png.meta
  Zilon.Client/Assets/Zilon/Sprites/Modals/Slot Body.png
  Zilon.Client/Assets/Zilon/Sprites/Modals/Slot Body.png.meta
  Zilon.Client/Assets/Zilon/Sprites/Modals/Slot Head.png
  Zilon.Client/Assets/Zilon/Sprites/Modals/Slot Head.png.meta
  Zilon.Client/Assets/Zilon/Sprites/Modals/Slot Weapon.png
  Zilon.Client/Assets/Zilon/Sprites/Modals/Slot Weapon.png.meta
Labels: enhancement, unity-client

#205 #203 Добавлен модал победы
  Zilon.Client/Assets/Zilon/Prefabs/Modals/WinModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/WinModalBody.prefab.meta
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/WinModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/WinModalBody.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Services/SectorModalManager.cs
  Zilon.Core/Zilon.Core/Client/ISectorModalManager.cs
Labels: enhancement, unity-client

#234 Refactor #158 sonar
  Zilon.Core/Zilon.Core.Spec/Steps/CommonSteps.cs
  Zilon.Core/Zilon.Core.Tests/Commands/AttackCommandTests.cs
  Zilon.Core/Zilon.Core.Tests/Persons/SurvivalDataTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/HumanActorTaskSourceTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/MoveTaskTests.cs
  Zilon.Core/Zilon.Core/Commands/OpenContainerCommand.cs
  Zilon.Core/Zilon.Core/Commands/ShowInventoryModalCommand.cs
  Zilon.Core/Zilon.Core/Commands/UseSelfCommand.cs
  Zilon.Core/Zilon.Core/MapGenerators/ChestGenerator.cs
  Zilon.Core/Zilon.Core/Persons/MonsterPerson.cs
  Zilon.Core/Zilon.Core/Persons/SurvivalData.cs
  Zilon.Core/Zilon.Core/Props/Equipment.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/Bots/AgressiveLogicBase.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/Bots/RoamingLogic.cs
  Zilon.Core/Zilon.Core/Tactics/ChestBase.cs
  Zilon.Core/Zilon.Core/Tactics/DropResolver.cs
  Zilon.Core/Zilon.Core/Tactics/GameLoop.cs
  Zilon.Core/Zilon.Core/Tactics/IActor.cs
  Zilon.Core/Zilon.Core/Tactics/MapHelper.cs
  Zilon.Core/Zilon.Core/Tactics/Spatial/IMap.cs
  Zilon.Core/Zilon.Core/Tactics/UsedActEventArgs.cs
Labels: code improvement, core

#245 #244 Убрана лишняя отладочная информация
  Zilon.Client/Assets/Zilon/Scripts/GlobalInstaller.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ActPanelHandler.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventoryModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PerkItemViewModel.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MonsterSingleActorGraphicController.cs
  Zilon.Client/Assets/Zilon/Scripts/SectorInstaller.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/LogService.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/SchemeLocator.cs
Labels: code improvement, core

#253 #158 Исправление оставшихся замечаний по сонару
  Zilon.Core/Zilon.Core/Commands/AttackCommand.cs
  Zilon.Core/Zilon.Core/Persons/HumanPerson.cs
  Zilon.Core/Zilon.Core/Tactics/Actor.cs
Labels: code improvement, core

#256 #161 Восстановление потерянного теста
  Zilon.Core/Zilon.Core.Spec/TestCases/Chests.feature
Labels: bug, code improvement, core

#257 Feature 156 create sector bench
  Zilon.Client/ProjectSettings/ProjectVersion.txt
  Zilon.Core/Zilon.Core.Benchmark/BenchTests.cs
  Zilon.Core/Zilon.Core.Benchmark/Config.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorBench.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorMaxBench.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorMinBench.cs
  Zilon.Core/Zilon.Core.Benchmark/MoveBench.cs
  Zilon.Core/Zilon.Core.Benchmark/UnitTest1.cs
  Zilon.Core/Zilon.Core.Benchmark/Zilon.Core.Benchmark.csproj
  Zilon.Core/Zilon.Core.Benchmark/packages.config
  Zilon.Core/Zilon.Core.Tests/MapGenerators/RoomStyle/RoomGeneratorTests.cs
  Zilon.Core/Zilon.Core.Tests/Zilon.Core.Tests.csproj
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/FixCompactRoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/FixLargeRoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/IRoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomGenerator.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomGeneratorRandomSource.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomMapFactory.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core

#258 #146 Переименование bottle в water-bottle, исправление опечатки в типе Thrist
  Zilon.Client/Assets/Resources/Icons/props/water-bottle.png
  Zilon.Client/Assets/Resources/Icons/props/water-bottle.png.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Consumables/tomaton.json
  Zilon.Client/Assets/Resources/Schemes/Props/Consumables/water-bottle.json
  Zilon.Client/Assets/Resources/Schemes/Props/Consumables/water-bottle.json.meta
  Zilon.Core/Zilon.Core.Spec/Steps/SurvivalSteps.cs
  Zilon.Core/Zilon.Core.Spec/TestCases/Chests.feature
  Zilon.Core/Zilon.Core.Spec/TestCases/Survival.feature
  Zilon.Core/Zilon.Core/Schemes/ConsumeCommonRuleType.cs
  Zilon.Core/Zilon.Core/Tactics/Actor.cs
Labels: code improvement, core, unity-client

#263 Fix 251 inventory prop selection
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventoryModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PropItemVm.cs
  Zilon.Client/ProjectSettings/ProjectVersion.txt
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: bug, unity-client

#264 #250 Исправление визуализации крысиного короля
  Zilon.Client/Assets/Resources/VisualProps/Monsters/rat-king.prefab
Labels: bug, unity-client

#265 Fix 247 resize prop icons
  Zilon.Client/Assets/Zilon/Prefabs/Modals/ContainerModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/InventoryModalBody.prefab
  Zilon.Client/Assets/Zilon/Prefabs/Modals/PropItem.prefab
Labels: unity-client

#266 #146 Исправление схем таблиц дропа
  Zilon.Client/Assets/Resources/Schemes/DropTables/survival.json
  Zilon.Core/Zilon.Core.Tests/Schemes/SchemeServiceTests.cs
  Zilon.Core/Zilon.Core/Schemes/ISchemeService.cs
Labels: bug, code improvement, core

#267 #251 Исправление освобождения объектов в модале инвентаря
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventoryModalBody.cs
Labels: bug, unity-client

#270 #183 Переименование кожаной брони
  Zilon.Client/Assets/Resources/Icons/props/leather-jacket.png
  Zilon.Client/Assets/Resources/Icons/props/leather-jacket.png.meta
  Zilon.Client/Assets/Resources/Schemes/DropTables/default.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/leather-jacket.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/leather-jacket.json.meta
  Zilon.Client/Assets/Resources/VisualProps/leather-jacket.prefab
  Zilon.Client/Assets/Resources/VisualProps/leather-jacket.prefab.meta
Labels: code improvement, unity-client

#273 Feature 269 automove
  Zilon.Client/Assets/Zilon/Scripts/GlobalInstaller.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/ActorViewModel.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MoveCommandBlocker.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/MoveCommandBlocker.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorGame.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/SectorVM.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/CommandBlockerService.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/CommandBlockerService.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Services/ICommandBlocker.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/ICommandBlocker.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Services/ICommandBlockerService.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/ICommandBlockerService.cs.meta
  Zilon.Core/Zilon.Core.Tests/Commands/CommandTestBase.cs
  Zilon.Core/Zilon.Core.Tests/Commands/MoveCommandTests.cs
  Zilon.Core/Zilon.Core/Commands/IRepeatableCommand.cs
  Zilon.Core/Zilon.Core/Commands/MoveCommand.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/Bots/AgressiveLogicBase.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: bug, core, enhancement, unity-client
