Repository kreghek/Zilon_Roguelike, pull requests merged in 2019-10, with the labels that each got.

#525 Удаление пустого проекта
  Empty/New Unity Project/Assets/Scenes.meta
  Empty/New Unity Project/Assets/Scenes/SampleScene.unity
  Empty/New Unity Project/Assets/Scenes/SampleScene.unity.meta
  Empty/New Unity Project/Packages/manifest.json
  Empty/New Unity Project/ProjectSettings/AudioManager.asset
  Empty/New Unity Project/ProjectSettings/ClusterInputManager.asset
  Empty/New Unity Project/ProjectSettings/DynamicsManager.asset
  Empty/New Unity Project/ProjectSettings/EditorBuildSettings.asset
  Empty/New Unity Project/ProjectSettings/EditorSettings.asset
  Empty/New Unity Project/ProjectSettings/GraphicsSettings.asset
  Empty/New Unity Project/ProjectSettings/InputManager.asset
  Empty/New Unity Project/ProjectSettings/NavMeshAreas.asset
  Empty/New Unity Project/ProjectSettings/NetworkManager.asset
  Empty/New Unity Project/ProjectSettings/Physics2DSettings.asset
  Empty/New Unity Project/ProjectSettings/PresetManager.asset
  Empty/New Unity Project/ProjectSettings/ProjectSettings.asset
  Empty/New Unity Project/ProjectSettings/ProjectVersion.txt
  Empty/New Unity Project/ProjectSettings/QualitySettings.asset
  Empty/New Unity Project/ProjectSettings/TagManager.asset
  Empty/New Unity Project/ProjectSettings/TimeManager.asset
  Empty/New Unity Project/ProjectSettings/UnityConnectSettings.asset
  Empty/New Unity Project/ProjectSettings/VFXManager.asset
  Empty/New Unity Project/ProjectSettings/XRSettings.asset
Labels: code improvement, continuous integration

#526 Refactor codacy
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/App.config
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/BotActorTaskSourceTests.cs
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/Zilon.Bot.Players.DevelopmentTests.csproj
  Zilon.Core/Zilon.Core.Spec/Mocks/FuncMapFactory.cs
  Zilon.Core/Zilon.Core.Tests/Props/PropStoreBaseTests.cs
  Zilon.Core/Zilon.Core/Common/PropTags.cs
  Zilon.Core/Zilon.Core/Components/PersonStat.cs
  Zilon.Core/Zilon.Core/MapGenerators/PrimitiveStyle/SquareMapFactory.cs
  Zilon.Core/Zilon.Core/Tactics/Sector.cs
  Zilon.Core/Zilon.Emulation.Common/InitialzationBase.cs
Labels: code improvement, core

#529 #159 Запуск тестов спецификаций
  .circleci/Unity_v2019-mac.x.ulf-cipher
  .circleci/config.yml
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/Zilon.Bot.Players.DevelopmentTests.csproj
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/packages.config
  Zilon.Core/Zilon.Bot.Players.Tests/Zilon.Bot.Players.Tests.csproj
  Zilon.Core/Zilon.Bot.Players.Tests/packages.config
  Zilon.Core/Zilon.Core.Benchmark/BenchHelper.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateGlobeBench.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorBench.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorMaxBench.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorMinBench.cs
  Zilon.Core/Zilon.Core.Benchmark/MoveBench.cs
  Zilon.Core/Zilon.Core.Benchmark/Zilon.Core.Benchmarks.Tests.csproj
  Zilon.Core/Zilon.Core.Benchmark/packages.config
  Zilon.Core/Zilon.Core.Spec/App.config
  Zilon.Core/Zilon.Core.Spec/Contexts/FeatureContextBase.cs
  Zilon.Core/Zilon.Core.Spec/TestCases/Survival.feature
  Zilon.Core/Zilon.Core.Spec/Zilon.Core.Spec.csproj
  Zilon.Core/Zilon.Core.Spec/packages.config
  Zilon.Core/Zilon.Core.Tests/Zilon.Core.Tests.csproj
  Zilon.Core/Zilon.Core.Tests/packages.config
  Zilon.Core/Zilon.SchemeEditor/Program.cs
Labels: code improvement, continuous integration

#530 #159 Тесты ботов
  .circleci/config.yml
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/Zilon.Bot.Players.DevelopmentTests.csproj
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/packages.config
  Zilon.Core/Zilon.Core.Tests/App.config
Labels: code improvement, continuous integration, core

#531 #528 Исправление замечаний от lgtm
  .circleci/config.yml
  README.md
  Zilon.Core/Zilon.Bot.Players/Triggers/HasBetterEquipmentTrigger.cs
  Zilon.Core/Zilon.BotEnvironment/Program.cs
  Zilon.Core/Zilon.Core/Scoring/DetailedLifetime.cs
  Zilon.Core/Zilon.Core/Scoring/ScoreCalculator.cs
  Zilon.Core/Zilon.Core/Scoring/TextSummaryHelper.cs
  Zilon.Core/Zilon.Core/WorldGeneration/AgentCards/TakeLocation.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core

#535 Добавлена кнопка выхода в меню
  Zilon.Client/Assets/Zilon/Scenes/combat.unity
  Zilon.Client/Assets/Zilon/Scripts/Commands/QuitTitleCommand.cs
  Zilon.Client/Assets/Zilon/Scripts/Commands/QuitTitleCommand.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Commands/QuitTitleRequestCommand.cs
  Zilon.Client/Assets/Zilon/Scripts/Commands/QuitTitleRequestCommand.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/GlobalInstaller.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/QuitModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/CommonModalManagerBase.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/CommonModalManagerBase.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Services/GlobeModalManager.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/ModalManagerBase.cs
  Zilon.Client/Assets/Zilon/Scripts/Services/ModalManagerBase.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Services/SectorModalManager.cs
  Zilon.Core/Zilon.Core/Client/Windows/ICommonModalManager.cs
  Zilon.Core/Zilon.Core/Scoring/TextSummaryHelper.cs
Labels: core, enhancement, unity-client

#536 #325 Рефакторинг, чистка, документирование
  Zilon.Core/Zilon.Core/Tactics/Behaviour/Bots/IBotLogic.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/Bots/IDecisionSource.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/Bots/PatrolRoute.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core

#539 Откат тестовых изменений
  .circleci/config.yml
  Zilon.Core/Zilon.Core/WorldGeneration/WorldGenerator.cs
Labels: bug, continuous integration, core

#540 #120 Исправление разметки переходов
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/BotActorTaskSourceTests.cs
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/Zilon.Bot.Players.DevelopmentTests.csproj
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/packages.config
  Zilon.Core/Zilon.Core.MassSectorGenerator/Program.cs
  Zilon.Core/Zilon.Core.MassSectorGenerator/Zilon.Core.MassSectorGenerator.csproj
  Zilon.Core/Zilon.Core.MassSectorGenerator/packages.config
  Zilon.Core/Zilon.Core/MapGenerators/CellularAutomatonStyle/CellularAutomatonMapFactory.cs
  Zilon.Core/Zilon.Core/Tactics/InfiniteSectorManager.cs
  Zilon.Core/Zilon.Emulation.Common/InitialzationBase.cs
  Zilon.Core/Zilon.Emulation.Common/LightInjectSwitchMapfactorySelector.cs
  Zilon.Core/Zilon.Emulation.Common/Zilon.Emulation.Common.csproj
  Zilon.Core/Zilon.Emulation.Common/packages.config
Labels: bug, core

#542 Устранение замечаний CodeFactor
  Zilon.Core/Zilon.Core.Tests/Persons/HumanPersonTests.cs
  Zilon.Core/Zilon.Core/LogicCalculations/RuleCalculations.cs
  Zilon.Core/Zilon.Core/Persons/HumanPerson.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core

#543 #120 Исправление перегораживания проходов сундуками
  .circleci/sector_map_drawer.sh
  Zilon.Client/Assets/Resources/Schemes/Locations/intro.json
  Zilon.Core/Zilon.Core/MapGenerators/CellularAutomatonStyle/CellularAutomatonMapFactory.cs
  Zilon.Core/Zilon.Core/MapGenerators/ChestGenerator.cs
  Zilon.Core/Zilon.Core/MapGenerators/RoomStyle/RoomGenerator.cs
Labels: bug, core

#544 Исправление замечаний
  .circleci/config.yml
  Zilon.Core/Zilon.Bot.Players.Tests/Zilon.Bot.Players.Tests.csproj
  Zilon.Core/Zilon.Bot.Players.Tests/app.config
  Zilon.Core/Zilon.Bot.Players.Tests/packages.config
  Zilon.Core/Zilon.Bot.Players/LogicTransition.cs
  Zilon.Core/Zilon.Bot.Players/Logics/ExploreLogicState.cs
  Zilon.Core/Zilon.BotEnvironment/Program.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorBench.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorMaxBench.cs
  Zilon.Core/Zilon.Core.Benchmark/CreateProceduralSectorMinBench.cs
  Zilon.Core/Zilon.Core.Benchmark/MoveBench.cs
  Zilon.Core/Zilon.Core.Benchmark/Zilon.Core.Benchmarks.Tests.csproj
  Zilon.Core/Zilon.Core.Benchmark/app.config
  Zilon.Core/Zilon.Core.Benchmark/packages.config
  Zilon.Core/Zilon.Core.Spec/Contexts/FeatureContextBase.cs
  Zilon.Core/Zilon.Core.Spec/Steps/CommonSteps.cs
  Zilon.Core/Zilon.Core.Tests/MapGenerators/RoomStyle/TestSnakeRoomGenerator.cs
  Zilon.Core/Zilon.Core/Commands/Sector/AttackCommand.cs
  Zilon.Core/Zilon.Core/Commands/Sector/EquipCommand.cs
  Zilon.Core/Zilon.Core/Commands/Sector/SectorTransitionMoveCommand.cs
  Zilon.Core/Zilon.Core/Persons/HumanPerson.cs
  Zilon.Core/Zilon.Core/Persons/HumanSurvivalData.cs
  Zilon.Core/Zilon.Core/ProgressStoring/GlobeStorageData.cs
  Zilon.Core/Zilon.Core/Props/EquipmentDurableService.cs
  Zilon.Core/Zilon.Core/Schemes/PersonSlotSubScheme.cs
  Zilon.Core/Zilon.Core/WorldGeneration/NameGeneration/NameGen.cs
  Zilon.Core/Zilon.SchemeEditor/Program.cs
Labels: code improvement, core

#545 Для NameGen добавить перегрузки конструкторов
  Zilon.Core/Zilon.Core/WorldGeneration/NameGeneration/NameGen.cs
Labels: code improvement, core

#555 #554 Удаление дубликатов
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/DraggedPropItem.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PropItemViewModelBase.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PropItemVm.cs
Labels: code improvement, unity-client

#556 #553 Замечания Better Code Hub
  Zilon.Client/Assets/Zilon/Scripts/GlobalInstaller.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ContainerModalBody.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ContainerModalBodyBase.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ContainerModalBodyBase.cs.meta
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ContainerPopup.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PropItemViewModelBase.cs.meta
Labels: code improvement, unity-client

#564 #563 Реорганизация бенчей
  .circleci/config.yml
  Zilon.Core/Zilon.Core.Benchmark/BenchTests.cs
  Zilon.Core/Zilon.Core.Benchmark/Config.cs
  Zilon.Core/Zilon.Core.Benchmarks.Common/BenchHelper.cs
  Zilon.Core/Zilon.Core.Benchmarks.Common/Config.cs
  Zilon.Core/Zilon.Core.Benchmarks.Common/ConsoleApplicationConfigCreator.cs
  Zilon.Core/Zilon.Core.Benchmarks.Common/Properties/AssemblyInfo.cs
  Zilon.Core/Zilon.Core.Benchmarks.Common/Zilon.Core.Benchmarks.Common.csproj
  Zilon.Core/Zilon.Core.Benchmarks.Common/app.config
  Zilon.Core/Zilon.Core.Benchmarks.Common/packages.config
  Zilon.Core/Zilon.Core.Benchmarks.CreateGlobe/App.config
  Zilon.Core/Zilon.Core.Benchmarks.CreateGlobe/CreateGlobeBench.cs
  Zilon.Core/Zilon.Core.Benchmarks.CreateGlobe/Program.cs
  Zilon.Core/Zilon.Core.Benchmarks.CreateGlobe/Properties/AssemblyInfo.cs
  Zilon.Core/Zilon.Core.Benchmarks.CreateGlobe/Zilon.Core.Benchmarks.CreateGlobe.csproj
  Zilon.Core/Zilon.Core.Benchmarks.CreateGlobe/packages.config
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/App.config
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/CreateProceduralSectorBench.cs
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/CreateProceduralSectorMaxBench.cs
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/CreateProceduralSectorMinBench.cs
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/CreateSectorBenchBase.cs
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/Program.cs
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/Properties/AssemblyInfo.cs
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/Zilon.Core.Benchmarks.CreateSector.csproj
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/packages.config
  Zilon.Core/Zilon.Core.Benchmarks.Move/App.config
  Zilon.Core/Zilon.Core.Benchmarks.Move/MoveBench.cs
  Zilon.Core/Zilon.Core.Benchmarks.Move/Program.cs
  Zilon.Core/Zilon.Core.Benchmarks.Move/Properties/AssemblyInfo.cs
  Zilon.Core/Zilon.Core.Benchmarks.Move/Zilon.Core.Benchmarks.Move.csproj
  Zilon.Core/Zilon.Core.Benchmarks.Move/packages.config
  Zilon.Core/Zilon.Core.sln
  Zilon.Core/Zilon.Core/WorldGeneration/WorldGenerator.cs
  Zilon.Core/Zilon.Emulation.Common/InitialzationBase.cs
  Zilon.Core/Zilon.Emulation.Common/LightInjectSwitchMapFactorySelector.cs
  Zilon.Core/Zilon.Emulation.Common/Zilon.Emulation.Common.csproj
Labels: code improvement, continuous integration, core

#568 #556 Уменьшен дроп злых тыкв
  Zilon.Core/Zilon.Core.Tests/Tactics/DropResolverTests.cs
  Zilon.Core/Zilon.Core/Tactics/DropResolver.cs
Labels: balance, core

#574 #573 Исправление ошибки снижения интоксикации
  Zilon.Core/Zilon.Core.Tests/Tactics/ActorTests.cs
  Zilon.Core/Zilon.Core/Tactics/Actor.cs
Labels: bug, core

#576 Refactor code for issue #560
  Zilon.Core/Zilon.Core/Persons/HumanSurvivalData.cs
  Zilon.Core/Zilon.Core/Persons/MonsterSurvivalData.cs
  Zilon.Core/Zilon.Core/Persons/SurvivalDataBase.cs
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
Labels: code improvement, core

#578 #577 Введены лже-предметы
  Zilon.Client/Assets/Resources/Schemes/DropTables/default.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/anger-axe-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/anger-axe-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/battle-axe-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/battle-axe-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/bow-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/bow-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/composite-bow-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/composite-bow-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/fireball-staff-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/fireball-staff-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/flail-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/flail-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/gold-armor-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/gold-armor-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/gold-helmet-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/gold-helmet-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/iron-ring-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/iron-ring-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/law-codex-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/law-codex-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/mace-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/mace-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/master-robe-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/master-robe-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/pistol-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/pistol-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/short-sword-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/short-sword-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/taurus-stim-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/taurus-stim-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/wooden-shield-mimic.json
  Zilon.Client/Assets/Resources/Schemes/Props/Equipments/mimics/wooden-shield-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics.meta
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/anger-chop-mimic.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/anger-chop-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/blow-mimic.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/blow-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/bow-shot-mimic.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/bow-shot-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/chop-mimic.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/chop-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/fireball-mimic.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/fireball-mimic.json.meta
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/shot-mimic.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/mimics/shot-mimic.json.meta
  Zilon.Client/Assets/Zilon/Scripts/Common/PropInfoPopup.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/ContainerPopup.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/DraggedPropItem.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/InventorySlotVm.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PropDragHandler.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PropDraggingStateEventArgs.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/Modals/PropItemVm.cs
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/HumanActorGraphicController.cs
  Zilon.Core/Zilon.Core.Tests.Common/Schemes/TestPropScheme.cs
  Zilon.Core/Zilon.Core.Tests/Schemes/SchemeServiceTests.cs
  Zilon.Core/Zilon.Core/Schemes/IPropScheme.cs
  Zilon.Core/Zilon.Core/Schemes/PropScheme.cs
  Zilon.Core/Zilon.Core/Tactics/Actor.cs
Labels: core, enhancement, unity-client
