Repository kreghek/Zilon_Roguelike, pull requests merged in 2021-07, with the labels that each got.

#1217 Feature 1121 score screen
  Zilon.Client/Assets/Resources/Schemes/Monsters/rat-human-slayer.json
  Zilon.Client/Assets/Resources/Schemes/Monsters/rat-mutant.json
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.Designer.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.resx
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.ru-RU.resx
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/GlobeSelectionScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/LeaderBoardScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/MainScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/ScoresScreen.cs
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/BotActorTaskSourceTests.cs
  Zilon.Core/Zilon.Core.Tests/Client/Sector/CommandLoopUpdaterTests.cs
  Zilon.Core/Zilon.Core/Client/Sector/CommandLoopUpdater.cs
  Zilon.Core/Zilon.Core/Client/Sector/GlobeLoopUpdater.cs
  Zilon.Core/Zilon.Core/Client/Sector/ICommandLoopUpdater.cs
Labels: client, core

#1219 Leaderboard screen
  Zilon.Core/CDT.LAST.MonoGameClient/CDT.LAST.MonoGameClient.csproj
  Zilon.Core/CDT.LAST.MonoGameClient/DbContext.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Program.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.Designer.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.resx
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.ru-RU.resx
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/LeaderBoardScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/MainScreen.cs
Labels: client, enhancement

#1220 Feature 1121 score screen
  Zilon.Core/CDT.LAST.MonoGameClient/CDT.LAST.MonoGameClient.csproj
  Zilon.Core/CDT.LAST.MonoGameClient/Database/DbContext.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Database/LeaderboardLimit.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Database/PlayerScore.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Program.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.Designer.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.resx
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.ru-RU.resx
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/LeaderBoardScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/MainScreen.cs
Labels: client, enhancement

#1222 Feature combat act visualization
  Zilon.Client/Assets/Resources/Schemes/Monsters/moon-rat.json
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Content.mgcb
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/VisualEffects/BladeShortHorizontalHitEffect.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/VisualEffects/BladeShortHorizontalHitEffectBaking.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/VisualEffects/ConsumingEffects.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/VisualEffects/HitEffects.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/VisualEffects/TeethHorizontalHitEffect.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/VisualEffects/hit.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/CombatActIcons/NormalPierce.png
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/UiContentStorage.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorCommonActionMoveEngine.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorDamagedEngine.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorIdleEngine.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorMeleeAttackEngine.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorMoveEngine.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorSectorTransitionMoveEngine.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/CommandInput.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/CorpseManager.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/CorpseViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/GameObjectBase.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/GameObjectParams.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/GameObjectVisualization/AnimalGraphics.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/GameObjectVisualization/HumanoidGraphics.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/GameObjectVisualization/IActorGraphics.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/GameObjectsViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/IActorStateEngine.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/SectorViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/SectorViewModelContext.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/Ui/BottomMenuPanel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/VisualEffects/ConsumingEffect.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/VisualEffects/EffectManager.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/VisualEffects/GameObjectVisualizationContentStorage.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/VisualEffects/HitEffect.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/VisualEffects/HitEffectDirections.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/VisualEffects/HitEffectTypes.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/VisualEffects/IGameObjectVisualizationContentStorage.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/VisualEffects/IVisualEffect.cs
  Zilon.Core/Zilon.Core/Tactics/ActorActUsageHandler.cs
Labels: art, bug, client, enhancement

#1223 Feature highlight monsters
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Content.mgcb
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/PersonMarkers.png
  Zilon.Core/CDT.LAST.MonoGameClient/Engine/LastColors.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/IUiContentStorage.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/MainScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/UiContentStorage.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/CommandInput.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/CorpseViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/GameObjectVisualization/AnimalGraphics.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/GameObjectVisualization/HumanoidGraphics.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/SectorViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/Ui/PersonMarkersPanel.cs
  Zilon.Core/Zilon.Core.DiTests/Commands/MineDepositCommandTests.cs
Labels: art, client, enhancement

#1226 Exclude dependabot branches from sonar analysis
  .github/workflows/sonar-cloud.yml
Labels: code improvement, release-significant

#1227 Use specified build command
  .github/workflows/codeql-analysis.yml
Labels: code improvement, continuous integration, release-significant

#1228 Fix branch excluding
  .github/workflows/sonar-cloud.yml
Labels: code improvement, continuous integration

#1229 Fix branches excluding
  .github/workflows/sonar-cloud.yml
Labels: continuous integration

#1230 [Failed] Feature act card
  Zilon.Core/CDT.LAST.MonoGameClient/Engine/CombatActButton.cs
  Zilon.Core/CDT.LAST.MonoGameClient/StartUp.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/SectorInteractor.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/SectorViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/Ui/CombatActPanel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/Ui/IBottomSubPanel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/Ui/TravelMenuPanel.cs
  Zilon.Core/Zilon.Bot.Players.Tests/Logics/SelectActHelperTests.cs
  Zilon.Core/Zilon.Bot.Players/Logics/DefeatTargetLogicState.cs
  Zilon.Core/Zilon.Bot.Players/Logics/SelectActHelper.cs
  Zilon.Core/Zilon.Core.DiTests/Commands/CommandTestBase.cs
  Zilon.Core/Zilon.Core.Specs/Steps/FightSteps.cs
  Zilon.Core/Zilon.Core.Specs/Steps/MiningSteps.cs
  Zilon.Core/Zilon.Core.Tests/Persons/AttackActorJobProgressTests.cs
  Zilon.Core/Zilon.Core.Tests/ScoreResultGenerating/DeathReasonServiceTestCaseSource.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/ActorActUsageHandlerTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/AttackTaskTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/TacticalActUsageServiceTests.cs
  Zilon.Core/Zilon.Core/Client/Sector/ISectorUiState.cs
  Zilon.Core/Zilon.Core/Client/Sector/SectorUiState.cs
  Zilon.Core/Zilon.Core/PersonGeneration/MonsterPersonFactory.cs
  Zilon.Core/Zilon.Core/PersonModules/CombatActModule.cs
  Zilon.Core/Zilon.Core/PersonModules/ICombatActModule.cs
  Zilon.Core/Zilon.Core/PersonModules/MonsterCombatActModule.cs
  Zilon.Core/Zilon.Core/Persons/AttackActorJobProgress.cs
  Zilon.Core/Zilon.Core/Persons/CombatAct.cs
  Zilon.Core/Zilon.Core/Persons/ICombatAct.cs
  Zilon.Core/Zilon.Core/Persons/ITacticalActExtensions.cs
  Zilon.Core/Zilon.Core/Persons/MonsterCombatAct.cs
  Zilon.Core/Zilon.Core/Tactics/Actor.cs
  Zilon.Core/Zilon.Core/Tactics/ActorActUsageHandler.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/AttackTask.cs
  Zilon.Core/Zilon.Core/Tactics/IActor.cs
  Zilon.Core/Zilon.Core/Tactics/PlayerDamagedEvent.cs
  Zilon.Core/Zilon.Core/Tactics/Sector.cs
  Zilon.Core/Zilon.Core/Tactics/TacticalActRoll.cs
  Zilon.Core/Zilon.Core/Tactics/TacticalActUsageService.cs
  Zilon.Core/Zilon.Core/Tactics/UsedActEventArgs.cs
  Zilon.Core/Zilon.Core/Tactics/UsedTacticalActs.cs
  Zilon.Core/Zilon.TextClient/MainScreenHandler.cs
Labels: client, code improvement, core
