Repository kreghek/Zilon_Roguelike, pull requests merged in 2021-05, with the labels that each got.

#1082 Add world to hex convertion
  Zilon.Core/Zilon.Core.Tests/Common/HexHelperTests.cs
  Zilon.Core/Zilon.Core.Tests/Common/TestCases/HexHelperTestCases.cs
  Zilon.Core/Zilon.Core/Commands/Sector/AttackCommand.cs
  Zilon.Core/Zilon.Core/Commands/Sector/MoveCommand.cs
  Zilon.Core/Zilon.Core/Common/HexHelper.cs
Labels: core, release-significant

#1085 Refactor convert
  .github/workflows/coverage-report-generator.yml
  Zilon.Core/Zilon.Core/Common/HexHelper.cs
  Zilon.Core/Zilon.Core/Common/MathUtils.cs
Labels: code improvement, core

#1086 Fix 966 command autoexecute
  Zilon.Core/Zilon.Core.Tests/Client/Sector/CommandLoopUpdaterTests.cs
  Zilon.Core/Zilon.Core/Client/Sector/CommandLoopContext.cs
  Zilon.Core/Zilon.Core/Client/Sector/CommandLoopUpdater.cs
  Zilon.Core/Zilon.Core/Client/Sector/GlobeLoopContext.cs
  Zilon.Core/Zilon.Core/Client/Sector/GlobeLoopUpdater.cs
  Zilon.Core/Zilon.Core/Commands/Sector/MoveCommand.cs
  Zilon.Core/Zilon.Core/Tactics/Sector.cs
  Zilon.Core/Zilon.TextClient/MainScreenHandler.cs
Labels: bug, code improvement, core

#1107 renamed: IEffectsModule to IConditionModule, EffectsModule to Conditi…
  Zilon.Client/Assets/Zilon/Scripts/Models/SectorScene/PersonEffectHandler.cs
  Zilon.Core/Zilon.Bot.Players/Triggers/SurvivalHazardTriggerHelper.cs
  Zilon.Core/Zilon.Core.Specs/Mocks/TestEmptyPersonFactory.cs
  Zilon.Core/Zilon.Core.Specs/Steps/SurvivalSteps.cs
  Zilon.Core/Zilon.Core.Tests/PersonModules/DiseaseModuleTests.cs
  Zilon.Core/Zilon.Core.Tests/Persons/Auxiliary/PersonEffectHelperTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/UsePropHelperTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/SectorTests.cs
  Zilon.Core/Zilon.Core/PersonGeneration/FullPersonFactoryBase.cs
  Zilon.Core/Zilon.Core/PersonModules/CombatActModule.cs
  Zilon.Core/Zilon.Core/PersonModules/ConditionModule.cs
  Zilon.Core/Zilon.Core/PersonModules/DiseaseModule.cs
  Zilon.Core/Zilon.Core/PersonModules/HumanSurvivalModule.cs
  Zilon.Core/Zilon.Core/PersonModules/IConditionModule.cs
  Zilon.Core/Zilon.Core/Persons/Auxiliary/PersonConditionHelper.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/UsePropHelper.cs
  Zilon.Core/Zilon.Core/Tactics/Sector.cs
  Zilon.Core/Zilon.TextClient/MainScreenHandler.cs
  Zilon.Core/Zilon.TextClient/UiResource.Designer.cs
Labels: core

#1109 Fix spaces between the map nodes
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/hex.png
  Zilon.Core/CDT.LAST.MonoGameClient/Scenes/Camera.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/CommandInput.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/MapMetrics.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/MapViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/StaticObjectViewModel.cs
Labels: bug, client

#1122 Rename screens to scenes
  Zilon.Core/CDT.LAST.MonoGameClient/LivGame.cs
  Zilon.Core/CDT.LAST.MonoGameClient/SceneManager.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Scenes/ScoresScene.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/Camera.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/GlobeSelectionScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/MainScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/ScoresScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/ScreenManager.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/TitleScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/TransitionScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/CommandInput.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/SectorViewModel.cs
Labels: client, code improvement

#1123 Fix globe selection
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/GlobeSelectionScreen.cs
Labels: bug

#1124 Feature 1100 autoplay mode
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/anger-chop.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/blow.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/chop.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/pierce.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/rush-sweep.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/sawing.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/slash.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/super-slash.json
  Zilon.Client/Assets/Resources/Schemes/TacticalActs/thrust.json
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Content.mgcb
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/PersonConditions/WoundCriticalConditionIcon.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/PersonConditions/WoundLesserConditionIcon.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/PersonConditions/WoundStrongConditionIcon.png
  Zilon.Core/CDT.LAST.MonoGameClient/Engine/Button.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.Designer.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Resources/UiResources.resx
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/MainScreen.cs
  Zilon.Core/CDT.LAST.MonoGameClient/StartUp.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorMeleeAttackEngine.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorMoveEngine.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/AnimationCommonBlocker.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/MapViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/PersonConditionsPanel.cs
  Zilon.Core/Zilon.Bot.Players/Triggers/SurvivalHazardTriggerHelper.cs
  Zilon.Core/Zilon.Core.Specs/Mocks/TestEmptyPersonFactory.cs
  Zilon.Core/Zilon.Core.Specs/Steps/SurvivalSteps.cs
  Zilon.Core/Zilon.Core.Tests/Client/Sector/AnimationBlockerServiceTests.cs
  Zilon.Core/Zilon.Core.Tests/PersonModules/DiseaseModuleTests.cs
  Zilon.Core/Zilon.Core.Tests/Persons/Auxiliary/PersonEffectHelperTests.cs
  Zilon.Core/Zilon.Core.Tests/ScoreResultGenerating/DeathReasonServiceTestCaseSource.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/UsePropHelperTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/SectorTests.cs
  Zilon.Core/Zilon.Core/Client/Sector/AnimationBlockerService.cs
  Zilon.Core/Zilon.Core/Client/Sector/CommandLoopContext.cs
  Zilon.Core/Zilon.Core/PersonGeneration/FullPersonFactoryBase.cs
  Zilon.Core/Zilon.Core/PersonModules/CombatActModule.cs
  Zilon.Core/Zilon.Core/PersonModules/ConditionModule.cs
  Zilon.Core/Zilon.Core/PersonModules/ConditionsModule.cs
  Zilon.Core/Zilon.Core/PersonModules/DiseaseModule.cs
  Zilon.Core/Zilon.Core/PersonModules/HumanSurvivalModule.cs
  Zilon.Core/Zilon.Core/PersonModules/IConditionsModule.cs
  Zilon.Core/Zilon.Core/Persons/Auxiliary/PersonConditionHelper.cs
  Zilon.Core/Zilon.Core/Persons/EffectEventArgs.cs
  Zilon.Core/Zilon.Core/Persons/EffectRule.cs
  Zilon.Core/Zilon.Core/Persons/IPersonCondition.cs
  Zilon.Core/Zilon.Core/Persons/ISurvivalStatCondition.cs
  Zilon.Core/Zilon.Core/Persons/Survival/DiseaseSymptomCondition.cs
  Zilon.Core/Zilon.Core/Persons/Survival/SurvivalStatHazardCondition.cs
  Zilon.Core/Zilon.Core/Persons/SurvivalEffectDamageEvent.cs
  Zilon.Core/Zilon.Core/Tactics/Behaviour/UsePropHelper.cs
  Zilon.Core/Zilon.Core/Tactics/Sector.cs
  Zilon.Core/Zilon.Core/World/Globe.cs
  Zilon.Core/Zilon.TextClient/MainScreenHandler.cs
Labels: bug, client, core

#1131 Fix AnimationBlockerService
  Zilon.Core/Zilon.Core.Tests/Client/Sector/AnimationBlockerServiceTests.cs
  Zilon.Core/Zilon.Core.Tests/Client/Sector/CommandLoopUpdaterTests.cs
  Zilon.Core/Zilon.Core.Tests/Props/PropStoreBaseTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/Behaviour/HumanActorTaskSourceTests.cs
  Zilon.Core/Zilon.Core.Tests/Tactics/SectorTests.cs
  Zilon.Core/Zilon.Core.Tests/TestAssemblySettings.cs
  Zilon.Core/Zilon.Core/Client/Sector/AnimationBlockerService.cs
Labels: bug, core

#1138 Revert Core tests assembly-wide parallelizable settings
  Zilon.Core/Zilon.Core.Tests/README.md
  Zilon.Core/Zilon.Core.Tests/TestAssemblySettings.cs
Labels: bug, core

#1139 Feature 1093 modals
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Content.mgcb
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/ModalDialogBackground.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/ModalDialogShadow.png
  Zilon.Core/CDT.LAST.MonoGameClient/Engine/ModalDialog.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/MainScreen.cs
  Zilon.Core/Zilon.Core.Tests/Zilon.Core.Tests.csproj
Labels: client

#1129 Fix path to scheme catalog
  Zilon.Core/CDT.LAST.MonoGameClient/StartUp.cs
Labels: bug, client

#1141 Feature 1101 fade static objects
  Zilon.Client/Assets/Resources/Schemes/PersonTemplates/tester.json
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/ActorViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/GameObjectBase.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/SectorViewModel.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/StaticObjectGraphics.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/StaticObjectViewModel.cs
  Zilon.Core/Zilon.Core.MassSectorGenerator/ValidationHelper.cs
  Zilon.Core/Zilon.Tournament.ApiGate/wwwroot/index.html
Labels: client

#1125 Fix of getting scheme catalog path
  README.md
  README_RU.md
  copy_scheme_catalog_to_game_bin.bat
  copy_scheme_catalog_to_game_bin.ps
Labels: client

#1145 Fix to get schemes path merge
  .github/workflows/build-client.yml
  README.md
  README_RU.md
  Zilon.Core/CDT.LAST.MonoGameClient/CDT.LAST.MonoGameClient.csproj
  copy_scheme_catalog_to_game_bin.bat
Labels: client, continuous integration

#1146 Improve modal variaty and textures
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Content.mgcb
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/ModalDialogBackground.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/ModalDialogBackgroundBottom1.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/ui/ModalDialogBackgroundTop1.png
  Zilon.Core/CDT.LAST.MonoGameClient/Engine/ModalDialog.cs
  Zilon.Core/CDT.LAST.MonoGameClient/Screens/MainScreen.cs
Labels: art, client

#1147 Fix usage of TCS in tests
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/CommandInput.cs
  Zilon.Core/Zilon.Core.Tests/Client/Sector/CommandLoopUpdaterTests.cs
Labels: bug, code improvement, core

#1148 Fix mutation testing
  .github/workflows/build-client.yml
  .github/workflows/mutation-test-stryker.yml
  Zilon.Core/CDT.LAST.MonoGameClient/CDT.LAST.MonoGameClient.csproj
  Zilon.Core/Zilon.Bot.Players.DevelopmentTests/Zilon.Bot.Players.DevelopmentTests.csproj
  Zilon.Core/Zilon.Bot.Players.NetCore/Zilon.Bot.Players.NetCore.csproj
  Zilon.Core/Zilon.Bot.Players.Tests/Zilon.Bot.Players.Tests.csproj
  Zilon.Core/Zilon.Bot.Players/Zilon.Bot.Players.csproj
  Zilon.Core/Zilon.Bot.Sdk/Zilon.Bot.Sdk.csproj
  Zilon.Core/Zilon.BotEnvironment/Zilon.BotEnvironment.csproj
  Zilon.Core/Zilon.BotMassLauncher/Zilon.BotMassLauncher.csproj
  Zilon.Core/Zilon.CommonUtilities/Zilon.CommonUtilities.csproj
  Zilon.Core/Zilon.Core.Benchmarks.Common/Zilon.Core.Benchmarks.Common.csproj
  Zilon.Core/Zilon.Core.Benchmarks.CreateSector/Zilon.Core.Benchmarks.CreateSector.csproj
  Zilon.Core/Zilon.Core.Benchmarks.Gameplay/Zilon.Core.Benchmarks.Gameplay.csproj
  Zilon.Core/Zilon.Core.Benckmarks.Fow/Zilon.Core.Benchmarks.Fow.csproj
  Zilon.Core/Zilon.Core.DiTests/Zilon.Core.DiTests.csproj
  Zilon.Core/Zilon.Core.MassSectorGenerator/Zilon.Core.MassSectorGenerator.csproj
  Zilon.Core/Zilon.Core.Specs/Zilon.Core.Specs.csproj
  Zilon.Core/Zilon.Core.Tests.Common/Zilon.Core.Tests.Common.csproj
  Zilon.Core/Zilon.Core.Tests/Zilon.Core.Tests.csproj
  Zilon.Core/Zilon.Core/Zilon.Core.csproj
  Zilon.Core/Zilon.DependencyInjection/Zilon.DependencyInjection.csproj
  Zilon.Core/Zilon.Emulation.Common/Zilon.Emulation.Common.csproj
  Zilon.Core/Zilon.GlobeObserver/Zilon.GlobeObserver.csproj
  Zilon.Core/Zilon.TextClient/Zilon.TextClient.csproj
  Zilon.Core/Zilon.Tournament.ApiGate/Zilon.Tournament.ApiGate.csproj
Labels: code improvement, core

#1151 Different static objects visualization
  .github/workflows/build-client.yml
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Content.mgcb
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/game-objects/Environment/Grass.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/game-objects/Environment/Pit.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/game-objects/Environment/Puddle.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/game-objects/Environment/StoneBlue.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/game-objects/Environment/StoneBrown.png
  Zilon.Core/CDT.LAST.MonoGameClient/Content/Sprites/game-objects/Environment/TrashHeap.png
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/StaticObjectGraphics.cs
  Zilon.Core/CDT.LAST.MonoGameClient/ViewModels/MainScene/StaticObjectViewModel.cs
  Zilon.Core/Zilon.Tournament.ApiGate/Startup.cs
Labels: art, client
